.mainContent {
    height: 800px;
    width: 100%;
    // background-color: grey;
    display: flex;
    .column {
        width: 33%;
        height: 100%;
        display: inline-block;
        &:first-child {
            // background-color: #A2EB80;
        }
        &:nth-child(2) {
            background-color: #8DDD69;
        }
        &:last-child {
            width: 34%;
            background-color: #79CC53;
        }
    }
}