@import '../../assets/styles/global-variables.scss';
@import '../../assets/styles/global-styles.scss';

.donut {
    transform: rotate(-0.25turn);
    background-color: transparent;
}
.chart-text {
    fill: #000;
    font-size: 3px;
    transform: rotate(0.25turn);
 }

.chart-label {
    text-transform: uppercase;
    text-anchor: middle;
    transform: translate(0.5em,-0.2em);
}

.legent-text-padding {
    padding: 0 5px 0 5px;
    margin-bottom: 5px;
    width: 100%;
}

.float-right {
    float: right;
}