@font-face {
  font-family: "LunaSans";
  font-weight: 320;
  src: url("./fonts/luna-sans/LunaSans-Italic.ttf");
}

html, body, #root {
  margin: 0px;
  height: 100%;
  font-size: 18px;
  font-family: 'LunaSans';
  font-family: Segoe UI Light;
}

.app {
  width: 100%;
  min-height: 100%;
  position: relative;
}

main {
  margin: 0 15% 0 15%;
  padding-top: 70px;
  padding-bottom: 70px;
  height: 100%;
}