//primares colors
$primary-color-black: #000000;
$primary-color-weak-black: #20232a;;
$primary-color-white: #ffffff;

$secondary-green-1: #8fec37;
$secondary-green-2: #e3ffb6;

$global-font: Segoe UI Light;
$global-font-bold: Segoe UI;
$global-font-size: 18px;

$global-app-margin: 15%;