@import '../../assets/styles/global-variables.scss';
@import '../../assets/styles/global-styles.scss';

.selectable-container-task {
    // border: 1px solid;
    margin-top: 15px;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    
        .listElement {
            width: 350px;
            height: 25px;
            background-color:$secondary-green-2;
            margin: 2px 0 2px 0;
            display: inline-block;
            .selectedTask {
                font-family: $global-font-bold;
            }
            div {
                display: inline-block;
                width: 300px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .in-list-button {
                border: none;
                background: none;
                height: 24px;
                width: 20px;
                float: right;
                display: none;
                padding: 0;
                margin: 0;
            }
            &:hover {
                background-color: $primary-color-white;
                cursor: pointer;
                .in-list-button {
                    display: inline-block;
                    &:hover {
                        cursor: pointer;
                        color: $secondary-green-1;
                    }
                }
            }
        }
        .task-done {
            background-color: $task-done;
        }
        .task-in-progress {
            background-color: $task-in-progress;
        }
        .task-todo {
            background-color: $task-todo;
        }
        .selectedTask {
            font-family: $global-font-bold;
        }
        .outer-button {
            cursor: pointer;
            display: inline-block;
            .outer-button-wraper {
                margin-top: -20px;
                display: block;
                width: 25px;
                text-align: center;
            }
            &:hover {
                font-family: $global-font-bold;
            }
        }
    }
}