@import '../../assets/styles/global-variables.scss';
@import '../../assets/styles/global-styles.scss';

.single-legend-line {
    height: 25px;
    margin-top: 5px;
    width: 60px;
    text-align: center;
}
